{% extends 'MaDevVoyagesBundle::base_layout.html.twig' %}

{% block content %}

<h2>Ville</h2>

<a class="btn btn-small btn-info" href="{{ path('voyages_city_create') }}">Ajouter une ville</a>
<br/><br/>

{% include 'MaDevVoyagesBundle::messages_layout.html.twig' %}

<table class="table table-hover">
    <thead>
        <th>Pays</th>
        <th>Ville</th>
        <th>Date de visite</th>
    </thead>
    <tbody>
    {% for city in cities %}
        <tr>
            <td>{% if city.country == null %}A définir{% else %}{{ city.country.name }}{% endif %}</td>
            <td>{{ city.name }}</td> 
            <td>{{ city.visitedate|date("d/m/Y") }}</td> 
            <td><a href="{{ path('voyages_city_update', {'city': city.id}) }}">Modifier</a></td> 
            <td><a href="{{ path('voyages_city_delete', {'city': city.id}) }}">Supprimer</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
